  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
   }
.wrapper{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,29,73,1) 53%, rgba(26,104,106,1) 100%);
    color: white;
}
nav{
    background-color: #0A0A24;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 20px 40px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
nav h1{
    color: red;
    font-weight: 900;
    font-size: 25px;
    line-height: 50px;
}
.btn{
    display: flex;
    gap: 19px;
    
}
.btn .but{
    border: 1px solid #615AB4;
    background-color: #615AB4;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    transition: 1s all ease-in;
}
.btn .but a{
    color: white;
    text-decoration: none;   
}
.btn button:hover{
    background: none;
    color: #615AB4;
}
.btn .but a:hover{
    color: #615AB4;   
}
.buto{
    background: none;
    color: #bcb9e3;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    border: 1px solid #615AB4;
}

/* HARMBURGER */
.harmburger{
    display: none;
    cursor: pointer;
}
.harmburger i{
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.9s ease-in-out;
    color: #010E1B;
}

/* HERO SECTION */
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    width: 90%;
    margin: auto;
    min-height: 530px;
    padding-bottom: 40px;
    padding-top: 120px;
}
.wrap h1{
    font-size: 44px;
    font-weight: 700;
}
.wrap p{
    font-size: 20px;
    line-height: 33px;
}
main img{
    height: 50px;
    width: 120px;
}
.wrap button{
    border: 1px solid #00A7CA;
    background-color: #00A7CA;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    padding: 5px 10px;
    
    transition: 1s all ease-in;
    margin-top: 50px;
}
.wrap button a{
    color: white;
}
.wrap button a:hover{
    color: #00A7CA;
}
.wrap button:hover{
    background: none;
   
}

.lottie {
    width: 60%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 120px 120px 120px;
    gap: 20px;
}
.lottie div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0A0A24;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    opacity: 1.0;
    
    
}
.lottie div:hover{
    border: 1px solid #6CCBD7;
    opacity: 0.5;
}
.lottie p{
    font-size: 16px;
    width: 80%;
    line-height: 25px;
}
.lottie i{
    font-size: 26px;
}
.blue{
    border: 1px solid #6CCBD7;
}
.blue i{
    color: #6CCBD7;
}
.red{
    border: 1px solid red;
}
.red i{
    color: red;
}

/* ABOUT */
.about .text{
    text-align: center;
    line-height: 40px;
    width: 70%;
    margin: auto;
}
.about .text h1{
    font-size: 40px;
}
.about .flexy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lott{
    width: 80%;
    
}
.tex{
    width: 60%;
}
.loady{
    color: #1A686A;
    cursor: pointer;
    font-weight: 600;
}
/* TESTIMONIAL */
.tes, .about{
    padding: 50px 40px;
}
.tes h1{
    text-align: center;
    font-size: 40px;
}
.swiper{
    margin-top: 50px;
}
.swiper-slide{
    min-height: 200px !important;
    border: 1px solid #F5820E;
    display: flex;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
    margin-left: 15px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */

}
.swiper-slide p, .swiper-slide h3{
    font-size: 14px;
    margin: 7px 0;
}
.swiper-slide h1{
    font-size: 20px;
}
.pagy div{
    font-weight: 700;
}
.pagy{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

/*  */
.log h1{
    text-align: center;
    padding-top: 40px;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}
.logo img:hover{
    transform: scale(1.5);
    transition: 1s all ease-in-out;
}

/* FOOTER */

footer{
    background: #0A0A24;
    color: white;
}
footer h3{
    margin: auto;
    padding: 20px 0;
    width: 50%;
    color: white;
}
li{
    list-style: none;
    padding: 10px 0;
    
}
li a{
    color: white;
}
footer main{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    

}
footer .icon-tab{
    margin: 20px 0px 10px 0;
    border: 1px solid #737373;;
    padding: 10px;
}
footer .icon-tab i{
    color: #737373;
    font-size: 24px;
}
footer .icon-tab select{
    font-size: 14px;
    background: transparent;
    color: white;
    border: none;
}
footer .icon-tab select option{
    background-color: #0A0A24;
}
@media only screen and (max-width: 768px){
    .wrap h1{
        font-weight: 900;
        font-size: 60px;
        line-height: 100px;
        
    }    
.wrap{
    flex-direction: column;
    margin-top: 70px;
}
.lottie {
    width: 100%;
    grid-template-columns: 320px 320px;
    margin-top: 30px;
}
.about .text{
    width: 100%;
}
.about .flexy{
flex-direction: column;
}
.lott, .tex{
    width: 90%;
    margin-top: 30px;
}
.logo{
    padding-bottom: 40px;
}
.swiper-slide{
    margin: 0;
}
.logo img{
    padding-top: 30px;
}
footer main{
    flex-direction: column;
}
}
@media only screen and (max-width : 540px){
    
    /* NAV */
    nav{
        height: 70px;
       }
    .harmburger{
        display: block;
    }
    .harmburger i{
        font-size: 30px;
        color: white;
    }
    .btn{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #010E1B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 100px;
        color: white;
        
        
    
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn button{
        margin: 10px 0;
    }
    
    
    .btn.active{
        left: 0;
    
    }

    /*  */
    .lottie {
        width: 100%;
        grid-template-columns: 230px 230px;
        margin-top: 30px;
    }

    
}
@media only screen and (max-width: 450px){
    .lottie {
        width: 100%;
        grid-template-columns: 160px 160px;
        margin-top: 30px;
    }
    .wrap h1{
        font-size: 35px;
        line-height: 50px;
        
    }
    .wrap p{
        font-size: 16px;
    }
    .lottie div p{
        font-size: 13px;
    }
    .tes, .about{
        padding: 50px 10px;
    }
    .about .text h1{
        padding: 10px 0;
        line-height: 40px;
    }
    .about .text{
        line-height: 30px;
        
    }
    .logo{
        flex-direction: column;
    }
}

@media only screen and (max-width: 360px){
    .lottie {
        width: 100%;
        grid-template-columns: 110px 110px;
        margin-top: 30px;
    }
}