  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
   }
.wrapper{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,29,73,1) 53%, rgba(26,104,106,1) 100%);
    color: white;
}
nav{
    background-color: #0A0A24;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 20px 40px;
}
nav h1{
    color: red;
    font-weight: 900;
    font-size: 25px;
    line-height: 50px;
}
.btn{
    display: flex;
    gap: 19px;
    
}
.btn .but{
    border: 1px solid #615AB4;
    background-color: #615AB4;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
    transition: 1s all ease-in;
}
.btn button:hover{
    background: none;
    color: #615AB4;
}
.buto{
    background: none;
    color: #bcb9e3;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    border: 1px solid #615AB4;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    width: 90%;
    margin: auto;
    min-height: 500px;
    padding-bottom: 40px;
}
.wrap h1{
    font-size: 58px;
    font-weight: 700;
}
.wrap p{
    font-size: 22px;
    line-height: 35px;
}
main img{
    height: 50px;
    width: 120px;
}
.wrap button{
    border: 1px solid #00A7CA;
    background-color: #00A7CA;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    transition: 1s all ease-in;
    margin-top: 50px;
}
.wrap button:hover{
    background: none;
    color: #00A7CA;
}

.lottie {
    width: 60%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 120px 120px 120px;
    gap: 20px;
}
.lottie div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0A0A24;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.lottie div:hover{
    border: 1px solid #6CCBD7;
    opacity: 3;
}
.lottie p{
    font-size: 16px;
    width: 80%;
    line-height: 25px;
}
.lottie i{
    font-size: 26px;
}
.blue{
    border: 1px solid #6CCBD7;
}
.blue i{
    color: #6CCBD7;
}
.red{
    border: 1px solid red;
}
.red i{
    color: red;
}

/*  */
.about .text{
    text-align: center;
    line-height: 40px;
    width: 70%;
    margin: auto;
}
.about .text h1{
    font-size: 40px;
}
/*  */
.tes, .about{
    padding: 50px 40px;
}
.tes h1{
    text-align: center;
    font-size: 40px;
}
.swiper{
    margin-top: 50px;
}
.swiper-slide{
    height: 200px !important;
    margin-left: 20px;
    padding: 0 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
/*  */
.log h1{
    text-align: center;
    padding-top: 40px;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.logo img:hover{
    transform: scale(1.5);
    transition: 1s all ease-in-out;
}
@media only screen and (max-width: 700px){
    .wrap h1{
        font-weight: 900;
        font-size: 60px;
        line-height: 100px;
        
    }    
.wrap{
    flex-direction: column;
    margin-top: 70px;
}
.lottie{
    width: 100%;
    float: left;
    height: 400px;
}
}